/* --------------
JeForceX™ Forge
Role-Playing Game
Cascading Style Sheet
--------------------- */

/* Global Section
----------------- */

body {
  margin: 0px;
  background-color: #000000;
  color: #888888;
  font-family: Tahoma;
  font-size: 12px;
}

p {
  margin-top: 0px;
}

a {
  text-decoration: none;
}

/* User Interface Section
------------------------- */

.dialog {
  position: fixed;
  max-width: 50%;
}

.dialog .title {
  padding: 6px;
  background-color: #BB2222;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}

.dialog .content {
  padding: 10px;
  border: 1px solid #BB2222;
  border-top: 0px;
  background-color: #FFFFFF;
  color: #444444;
  text-align: center;
}

.dialog .content p {
  text-align: justify;
}

.dialog .button {
  display: inline-block;
  padding: 6px 12px;
  border-top: 2px solid #DD2222;
  border-left: 2px solid #DD2222;
  border-right: 2px solid #992222;
  border-bottom: 2px solid #992222;
  background-color: #BB2222;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.dialog .button:hover {
  border-top: 2px solid #FF2222;
  border-left: 2px solid #FF2222;
  border-right: 2px solid #BB2222;
  border-bottom: 2px solid #BB2222;
  background-color: #DD2222;
  color: #EEEEEE;
}