/* ------------------
JeForceX™ Forge
GitHub User Website
Cascading Style Sheet
--------------------- */

/* Global Section
----------------- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: Tahoma;
  font-size: 12px;
  color: #444444;
  line-height: 1.5em;
}

h1 { font-size: 220%; }
h2 { font-size: 200%; }
h3 { font-size: 180%; }
h4 { font-size: 160%; }
h5 { font-size: 140%; }
h6 { font-size: 120%; }

h1, h2, h3, h4, h5, h6 {
  font-family: Times New Roman;
  color: #DD2222;
}

h6 {
  margin: 1.0em 0em;
}

p {
  line-height: 1.2em;
  text-align: justify;
}

a {
  color: #BB9977;
  text-decoration: none;
}

a:hover {
  color: #DDBB99;
}

.clear {
  clear: both;
}

/* Navigation Section
--------------------- */

#site-logo {
  display: inline-block;
  margin: 10px 30px 10px 0px;
  height: 30px;
  vertical-align: top;
}

#navigation {
  min-width: 1200px;
  position: sticky;
  top: 0px;
  padding: 0px 10px;
  background-color: #000000;
  color: #FFFFFF;
}

#navigation .link {
  display: inline-block;
  height: 34px;
  padding: 16px 16px 0px 16px;
  font-size: 20px;
  color: #FFFFFF;
  vertical-align: top;
}

#navigation .link:hover {
  background-color: #DD2222;
  color: #EEEEEE;
}

#navigation .connect {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  margin: 10px 0px 0px 10px;
  background-position: 0px 0px;
}

#navigation .connect:hover {
  background-position: 0px -30px;
}

#facebook { background: url(/assets/facebook.png); }
#twitter { background: url(/assets/twitter.png); }
#youtube { background: url(/assets/youtube.png); }

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 32px;
  padding: 18px 0px 0px 0px;
  border-radius: 50%;
  background-color: #BB2222;
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}

#back-to-top:hover {
  background-color: #DD2222;
  color: #EEEEEE;
}

/* Module Section
----------------- */

.module-wrapper {
  padding: 40px;
}

.module-wrapper.primary {
  background-color: #FFFFFF;
}

.module-wrapper.secondary {
  background-color: #F8F8F8;
}

.module-content {
  width: 1200px;
  margin: auto;
  font-size: 24px;
}

.module-content h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* Legal Section
---------------- */

#legal {
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF;
  min-width: 1200px;
}

legal a {
  color: #DDBB99;
}

legal a:hover {
  color: #FFDDBB;
}

#legal .docs {
  margin-left: 16px;
}

#legal .left {
  float: left;
}

#legal .right {
  float: right;
  margin-right: 70px;
}

/* Custom Formatting
-------------------- */

.construction {
  color: #BBBBBB;
  text-align: center;
}

.portal {
  text-align: center;
}

.portal-card {
  display: inline-block;
  width: 180px;
  height: 160px;
  padding: 130px 10px 10px 10px;
  border-radius: 10px;
  background-color: #BB9977;
  color: #FFFFFF;
  margin-right: 2.5px;
}

.portal-card:hover {
  background-color: #DDBB99;
  color: #EEEEEE;
}