/* ------------------
JeForceX™ Forge
Cascading Style Sheet
------------------ */

/* Global Section
-------------- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: Tahoma;
  font-size: 12px;
  color: #444444;
  line-height: 1.5em;
}

h1 { font-size: 220%; }
h2 { font-size: 200%; }
h3 { font-size: 180%; }
h4 { font-size: 160%; }
h5 { font-size: 140%; }
h6 { font-size: 120%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  color: #DD2222;
  padding: 0.5em 0em 0.5em 0em;
  border-bottom: 1px solid #DDDDDD;
}

p {
  text-align: justify;
}

a {
  color: #DD2222;
  text-decoration: none;
}

a:hover {
  color: #FF0000;
}

.clear {
  clear: both;
}

/* Header Section
-------------- */

#header-wrapper {
  padding: 0px 10px;
}

#header-content {
  width: 1200px;
  margin: 10px auto;
}

#site-logo {
  margin-right: 10px;
  vertical-align: middle;
}

#site-name {
  display: inline;
  vertical-align: middle;
  font-size: 40px;
  color: #bbbbbb;
}

/* Navigation Section
------------------ */

#navigation-wrapper {
  padding: 0px 10px;
}

#navigation-content {
  width: 1200px;
  margin: 0px auto 10px auto;
  background-color: #BB2222;
}

#navigation-content a {
  display: inline-block;
  padding: 8px 16px 8px 16px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}

#navigation-content a:hover {
  background-color: #DD2222;
}

/* Content Section
--------------- */

#content-wrapper {
  padding: 0px 10px;
}

#content-container {
  width: 1200px;
  margin: 0px auto;
}

#content-main {
  display: inline-block;
  width: 850px;
  margin-right: 6px;
  vertical-align: top;
}

#content-side {
  display: inline-block;
  width: 340px;
  vertical-align: top;
}

/* Module Section
--------------- */

.module-wrapper {
  display: none;
  margin-bottom: 10px;
}

.module-title {
  display: block;
  padding: 6px;
  background-color: #BB2222;
  color: #FFFFFF;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

.module-content {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
}

.module-content img {
  max-width: 100%;
}

/* Footer Section
-------------- */

#footer-wrapper {
  padding: 20px 10px 10px 10px;
  background-color: #222222;
  border-top: 4px solid #DD2222;
  color: #FFFFFF;
}

#footer-content {
  width: 1200px;
  margin: auto;
}

#footer-content a {
  line-height: 2em;
  color: #DDBB99;
}

#footer-content a:hover {
  color: #FFDDBB;
}

#footer-content h5 {
  color: #DD2222;
  border: 0px;
  padding-top: 0px;
}

#footer-logo {
  display: block;
  text-align: center;
}

#footer-module-1 {
  display: inline-block;
  width: 320px;
  margin-right: 40px;
  vertical-align: top;
}

#footer-module-2 {
  display: inline-block;
  width: 120px;
  margin-right: 40px;
  vertical-align: top;
}

#footer-module-3 {
  display: inline-block;
  width: 120px;
  margin-right: 40px;
  vertical-align: top;
}

#footer-module-4 {
  display: inline-block;
  width: 120px;
  vertical-align: top;
}

/* Legal Section
------------- */

#legal-wrapper {
  padding: 0px 10px;
  background-color: #000000;
  color: #FFFFFF;
}

#legal-content {
  width: 1200px;
  margin: auto;
}

#legal-content a {
  color: #DDBB99;
}

#legal-content a:hover {
  color: #FFDDBB;
}

#legal-content .left {
  float: left;
}

#legal-content .right {
  float: right;
}

#legal-padding {
  padding: 10px;
}

.legal-link {
  margin-left: 15px;
}

/* Dashboard Portfolio Cards
------------------------- */

.dashboard-card {
  display: inline-block;
  width: 180px;
  height: 280px;
  padding: 10px;
  margin-right: 6px;
  border-radius: 20px;
  background-color: #663399;
  color: #EEEEEE;
  font-size: 200%;
  text-align: center;
}

.dashboard-card:hover {
  background-color: #7744AA;
  color: #FFFFFF;
}

.dashboard-card div {
  position: relative;
  top: 48%;
}

/* Sidebar Elements
--------------- */

.sidebar-banner {
  display: block;
  height: 20px;
  padding: 30px;
  margin-bottom: 10px;
  background-color: #663399;
  color: #EEEEEE;
  font-size: 140%;
  text-align: center;
}

.sidebar-banner:hover {
  background-color: #7744AA;
  color: #FFFFFF
}

.sidebar-button {
  display: block;
  width: 50%;
  padding: 4px;
  margin: auto;
  background-color: #BB2222;
  border-radius: 8px;
  border-top: 4px solid #DD2222;
  border-left: 4px solid #DD2222;
  border-right: 4px solid #992222;
  border-bottom: 4px solid #992222;
  color: #EEEEEE;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

.sidebar-button:hover {
  background-color: #DD2222;
  border-top: 4px solid #FF2222;
  border-left: 4px solid #FF2222;
  border-right: 4px solid #BB2222;
  border-bottom: 4px solid #BB2222;
  color: #FFFFFF;
}

/* Role-Playing Game Launcher
-------------------------- */

#rpg-logo {
  height: 160px;
  background-color: #000000;
  color: #FFBB00;
  font-family: Times New Roman;
  font-size: 80px;
  text-align: center;
}

#rpg-logo div {
  position: relative;
  top: 44%;
}

/* Custom Styles
------------- */

.clear {
  clear: both;
}

.floater {
  text-align: center;
}

.table-of-contents {
  padding: 10px;
  border: 1px solid #888888;
}

.under-construction {
  text-align: center;
  color: #999999;
}