/* ------------------
JeForceX™ Forge
GitHub User Website
Cascading Style Sheet
--------------------- */

/* Global Section
----------------- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: Tahoma;
  font-size: 12px;
  color: #444444;
  line-height: 1.5em;
}

hr {
  height: 1px;
  margin: 40px 0px;
  border: 0px;
  background-color: #DDDDDD;
}

h1 {font-size: 220%;}
h2 {font-size: 200%;}
h3 {font-size: 180%;}
h4 {font-size: 160%;}
h5 {font-size: 140%;}
h6 {font-size: 120%;}

h1, h2, h3, h4, h5, h6 {
  font-family: Times New Roman;
  color: #DD2222;
  text-align: center;
}

h6 {
  margin: 1.0em 0em;
}

div, p {
  line-height: 1.2em;
  text-align: justify;
}

li {
  margin-bottom: 8px;
}

a {
  color: #997755;
  text-decoration: none;
}

a:hover {
  color: #BB9977;
  text-decoration: underline;
}

.clear {
  clear: both;
}

/* Trademark Section
--------------------- */

#site-logo {
  display: inline-block;
  margin: 10px 30px 10px 0px;
  height: 30px;
  vertical-align: top;
}

/* #site-logo-about {height: 80px;} */

/* Navigation Section
--------------------- */

#navigation {
  min-width: 1200px;
  position: sticky;
  top: 0px;
  padding: 0px 10px;
  background-color: #000000;
  color: #FFFFFF;
}

#navigation .link {
  display: inline-block;
  height: 34px;
  padding: 16px 16px 0px 16px;
  font-size: 20px;
  color: #FFFFFF;
  vertical-align: top;
}

#navigation .link:hover {
  background-color: #DD2222;
  color: #EEEEEE;
  text-decoration: none;
}

#navigation .connect {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  margin: 10px 0px 0px 10px;
  background-position: 0px 0px;
}

#navigation .connect:hover {
  background-position: 0px -30px;
}

#facebook { background: url(/assets/facebook.png); }
#twitter { background: url(/assets/twitter.png); }
#youtube { background: url(/assets/youtube.png); }

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 30px;
  padding: 20px 0px 0px 0px;
  border-radius: 50%;
  background-color: #BB2222;
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}

#back-to-top:hover {
  background-color: #DD2222;
  color: #EEEEEE;
  text-decoration: none;
}

/* Module Section
----------------- */

.module-wrapper {
  padding: 50px;
}

.module-wrapper.primary {
  background-color: #FFFFFF;
}

.module-wrapper.secondary {
  background-color: #F8F8F8;
}

.module-content {
  width: 1200px;
  margin: auto;
  font-size: 24px;
}

.module-content.legal {font-size: 12px;}
.module-content.legal h2 {text-align: left;}
.module-content.legal h4 {text-align: left;}

/* Content Section
------------------ */

/* Remove this Code Snippet when it is no longer required */
.banner-temp {
  width: 960px;
  height: 140px;
  padding-top: 100px;
  margin: 0px auto 40px auto;
  background-color: #888888;
  color: #FFFFFF;
  text-align: center;
}

.button {
  margin: auto;
  padding: 8px 16px;
  border-top: 4px solid #DD2222;
  border-left: 4px solid #DD2222;
  border-right: 4px solid #992222;
  border-bottom: 4px solid #992222;
  background-color: #BB2222;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  border-top: 4px solid #FF2222;
  border-left: 4px solid #FF2222;
  border-right: 4px solid #BB2222;
  border-bottom: 4px solid #BB2222;
  background-color: #DD2222;
  color: #EEEEEE;
  text-decoration: none;
}

.centralize {
  text-align: center;
}

.contention h6 {margin-top: 0px; text-align: left;}
.contention p {margin-bottom: 40px;}

.contention .left {
  display: inline-block;
  width: 554px;
  padding-right: 40px;
  margin-right: 40px;
  border-right: 1px solid #DDDDDD;
  vertical-align: top;
}

.contention .right {
  display: inline-block;
  width: 554px;
  vertical-align: top;
}

.portal {
  text-align: center;
}

.portal .card {
  display: inline-block;
  width: 180px;
  height: 160px;
  padding: 130px 10px 10px 10px;
  border-radius: 10px;
  background-color: #888888;
  color: #FFFFFF;
  font-weight: bold;
  margin-right: 2.5px;
}

.portal .card.last {
  margin-right: 0px;
}

.portal .card:hover {
  background-color: #DD2222;
  color: #EEEEEE;
  text-decoration: none;
}

.table-of-contents {
  display: inline-block;
  padding: 20px 20px 10px 20px;
  margin-top: 10px;
  border: 1px solid #DDDDDD;
}

.table-of-contents h4 {
  margin: 0px;
}

.table-of-contents ol {
  padding: 0em 1.5em;
}

/* Legal Section
---------------- */

#legal {
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF;
  min-width: 1200px;
}

#legal a {
  color: #DDBB99;
}

#legal a:hover {
  color: #FFDDBB;
}

#legal .docs {
  margin-left: 16px;
}

#legal .left {
  float: left;
}

#legal .right {
  float: right;
  margin-right: 70px;
}