/* -----
Cascading Style Sheet
----- */

body {
  font-family: Tahoma;
  font-size: 16px;
  color: #444444;
}

a {
  color: #DD2222;
  text-decoration: none;
}

a:hover {
  color: #FF0000;
  text-decoration: underline;
}
